.aider*
IyBHZW5lcmF0ZWQgYnkgaXB0YWJsZXMtc2F2ZSB2MS44LjggKG5mX3RhYmxlcykgb24gV2VkIEF1
ZyAyOCAxMjoyODo1NiAyMDI0CipmaWx0ZXIKOklOUFVUIEFDQ0VQVCBbMDowXQo6Rk9SV0FSRCBE
Uk9QIFswOjBdCjpPVVRQVVQgQUNDRVBUIFswOjBdCjpET0NLRVIgLSBbMDowXQo6RE9DS0VSLUlT
T0xBVElPTi1TVEFHRS0xIC0gWzA6MF0KOkRPQ0tFUi1JU09MQVRJT04tU1RBR0UtMiAtIFswOjBd
CjpET0NLRVItVVNFUiAtIFswOjBdCi1BIEZPUldBUkQgLWogRE9DS0VSLVVTRVIKLUEgRk9SV0FS
RCAtaiBET0NLRVItSVNPTEFUSU9OLVNUQUdFLTEKLUEgRk9SV0FSRCAtbyBkb2NrZXIwIC1tIGNv
bm50cmFjayAtLWN0c3RhdGUgUkVMQVRFRCxFU1RBQkxJU0hFRCAtaiBBQ0NFUFQKLUEgRk9SV0FS
RCAtbyBkb2NrZXIwIC1qIERPQ0tFUgotQSBGT1JXQVJEIC1pIGRvY2tlcjAgISAtbyBkb2NrZXIw
IC1qIEFDQ0VQVAotQSBGT1JXQVJEIC1pIGRvY2tlcjAgLW8gZG9ja2VyMCAtaiBBQ0NFUFQKLUEg
T1VUUFVUIC1kIDIxMy4xNTguMTk2LjQ5LzMyIC1qIEFDQ0VQVAotQSBPVVRQVVQgLWQgMjEzLjE1
OC4xOTcuMTcvMzIgLWogQUNDRVBUCi1BIE9VVFBVVCAtcCB1ZHAgLW0gdWRwIC0tZHBvcnQgNTMg
LWogQUNDRVBUCi1BIE9VVFBVVCAtZCAxMjcuMC4wLjEvMzIgLWogQUNDRVBUCi1BIE9VVFBVVCAt
ZCAxMC4yNTEuMTk4LjUwLzMyIC1qIEFDQ0VQVAotQSBPVVRQVVQgLXAgdWRwIC1tIHVkcCAtLWRw
b3J0IDg4IC1qIEFDQ0VQVAotQSBPVVRQVVQgLXAgdGNwIC1tIHRjcCAtLWRwb3J0IDg4IC1qIEFD
Q0VQVAotQSBPVVRQVVQgLWogRFJPUAotQSBET0NLRVItSVNPTEFUSU9OLVNUQUdFLTEgLWkgZG9j
a2VyMCAhIC1vIGRvY2tlcjAgLWogRE9DS0VSLUlTT0xBVElPTi1TVEFHRS0yCi1BIERPQ0tFUi1J
U09MQVRJT04tU1RBR0UtMSAtaiBSRVRVUk4KLUEgRE9DS0VSLUlTT0xBVElPTi1TVEFHRS0yIC1v
IGRvY2tlcjAgLWogRFJPUAotQSBET0NLRVItSVNPTEFUSU9OLVNUQUdFLTIgLWogUkVUVVJOCi1B
IERPQ0tFUi1VU0VSIC1qIFJFVFVSTgpDT01NSVQKIyBDb21wbGV0ZWQgb24gV2VkIEF1ZyAyOCAx
MjoyODo1NiAyMDI0CiMgR2VuZXJhdGVkIGJ5IGlwdGFibGVzLXNhdmUgdjEuOC44IChuZl90YWJs
ZXMpIG9uIFdlZCBBdWcgMjggMTI6Mjg6NTYgMjAyNAoqbmF0CjpQUkVST1VUSU5HIEFDQ0VQVCBb
MDowXQo6SU5QVVQgQUNDRVBUIFswOjBdCjpPVVRQVVQgQUNDRVBUIFswOjBdCjpQT1NUUk9VVElO
RyBBQ0NFUFQgWzA6MF0KOkRPQ0tFUiAtIFswOjBdCi1BIFBSRVJPVVRJTkcgLW0gYWRkcnR5cGUg
LS1kc3QtdHlwZSBMT0NBTCAtaiBET0NLRVIKLUEgT1VUUFVUICEgLWQgMTI3LjAuMC4wLzggLW0g
YWRkcnR5cGUgLS1kc3QtdHlwZSBMT0NBTCAtaiBET0NLRVIKLUEgUE9TVFJPVVRJTkcgLXMgMTcy
LjE3LjAuMC8xNiAhIC1vIGRvY2tlcjAgLWogTUFTUVVFUkFERQotQSBET0NLRVIgLWkgZG9ja2Vy
MCAtaiBSRVRVUk4KQ09NTUlUCiMgQ29tcGxldGVkIG9uIFdlZCBBdWcgMjggMTI6Mjg6NTYgMjAy
NAo=
.env
