[Desktop Entry]
Type=Application
Name=devpod first-run setup
Comment=Offers optional flatpak apps on first login
Exec=/usr/libexec/devpod-firstrun-autostart
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
NoDisplay=true
